---
layout: main
---
{% if paginator.page and paginator.page == 1 %}
  {% include about.html %}
{% endif %}
{% for post in paginator.posts %}
<article class="post">
  <div class="post-content">
    <h3 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
    <p class="post-meta">
      {{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;
      {% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}
    </p>
    <p class="post-summary">{{ post.content | strip_html | truncatewords: 15 }}</p>
  </div>
</article>
{% endfor %}

{% include pagination.html %}

{% include signup.html %}
