<section class="about">
  <p>Hi, my name is Karl.</p>
  <p>
    I write and speak about business, technology, and leadership.
  </p>
  <p>After a decade leading software engineering teams at venture-funded startups, I started down the path of entrepreneurship. I'm currently <strong><a href="/work">building a portfolio of niche marketing service businesses</a></strong>.
  </p>
  <p>
    If you like this blog or want to see what I'm working on next, <strong><a href="https://karllhughes.curated.co/">sign up for my weekly newsletter</a></strong> and get a free digital copy of my ebook, <em><a href="#signup-bottom">Starting a Software Startup</a></em>.
  </p>
</section>
<h2 class="home-page-header">Latest Writing</h2>
