<section class="about">
  <p>Hi, my name is Karl.</p>
  <p>
    I <a href="/writing/" class="underline">write</a>, <a href="/speaking/" class="underline">speak</a>, and
    <a href="/work/" class="underline">build businesses</a>.
    After nearly a decade leading engineering teams at startups in Chicago, I founded
    <strong><a href="https://draft.dev">Draft.dev</a></strong> to help companies create high-quality technical content designed to reach software developers.
  </p>
  <p>
    If you like this blog or want to see what I'm working on next,
    <strong><a href="https://karllhughes.curated.co/">sign up for my weekly newsletter</a></strong>
    and get a free digital copy of my book
    <em><a href="#signup-bottom">Starting a Software Startup</a></em>.
  </p>
</section>
<h2 class="home-page-header">Latest Writing</h2>
