<section class="about">
  <p>Hi, my name is Karl.</p>
  <p>
    I <a href="/writing/" class="underline">write</a>, <a href="/speaking/" class="underline">speak</a>, and
    <a href="/work/" class="underline">help build startups</a>.
    Currently, I'm the <strong>Chief Technology Officer at <a href="https://www.thegraidenetwork.com/" target="_blank">The Graide Network</a></strong>
    where I manage the entire technology and product lifecycle for a product that has delivered over 1,000,000 pieces of writing
    feedback to K-12 students.
  </p>
  <p>
    I also run <strong><a href="https://www.cfpland.com">CFP Land</a></strong>, where I've built a newsletter that goes
    out to 2,000+ technology conference speakers every week.
  </p>
  <p>
    If you like this blog, I send out a regular newsletter for startup founders and employees called
    <strong><a href="https://mailchi.mp/a183cf10b418/startups">The Portable CTO</a></strong>.
    Every week, I include a handful of tips, tools, and advice that I discover as well as anything new I've written across the internet.
  </p>
  <p>📖 Thanks for reading!</p>
</section>
<h2 class="home-page-header">Latest Blog Posts</h2>
