<section class="ad">
  <p class="sponsor">Sponsor</p>
  <a href="https://draft.dev?src=karllhughes">
    <img class="sponsor-image-left" src="/assets/img/draft-sq.png" alt="Draft.dev" />
  </a>
  <h3><a href="https://draft.dev?src=karllhughes">Want Great Content Like This for Your Site?</a></h3>
  <p>
    At <a href="https://draft.dev?src=karllhughes">Draft.dev</a>, we create technical content
    for startups looking to reach software engineers. Stop begging your engineers to write
    blog posts and build a high-quality, reliable content engine today.
  </p>
  <p><a href="https://draft.dev?src=karllhughes" class="button">Learn More →</a></p>
</section>

