<section class="signup">
  <form id="signup-bottom" action="//www.karllhughes.com/subscribe" method="POST">
    <h3>Want to Learn What Your Digital Service Business is Worth?</h3>
    <p>
      Do you wonder what your agency is worth? Have you thought about selling, but aren't sure it would be worth it? Are you hoping to understand how buyers evaluate companies?
    <p>
      Then sign up for an entirely <strong><a href="https://calendly.com/karlhughes/evaluation" target="_blank">free business evaluation</a></strong>!
    </p>
    <p>
      On this 30-minute call, we'll review:
      <ul>
        <li>The valuation formula buyers use to buy service businesses</li>
        <li>The types of buyers who are looking for businesses like yours</li>
        <li>Various deal structures and payout options</li>
        <li>Specific things you can improve to help you get the most at closing</li>
      </ul>
    </p>

    <div class="action clearfix">
      <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/karlhughes/evaluation?primary_color=5d7ca8" style="min-width:320px;height:700px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
      <!-- Calendly inline widget end -->
    </div>
    <p class="hug" id="signup-bottom-status"></p>
  </form>
</section>
