<div class="signup-hover form-popup" id="popup-email-form">
  <form id="signup-hover" class="form-container" action="//www.karllhughes.com/subscribe" method="POST">
    <i class="fa fa-close close-form" onclick="closeForm()"></i>
    <h3>Weekly insights for startup founders and technology leaders</h3>

    <label class="sr-only">Email Address</label>
    <input placeholder="Your email address" type="email" name="email" required />
    <button type="submit" class="btn">Subscribe Today!</button>
    <p class="hug" id="signup-hover-status"></p>
  </form>
</div>
<script>
  function openForm() {
    document.getElementById("popup-email-form").style.opacity = 1;
  }
  function closeForm() {
    document.getElementById("popup-email-form").style.opacity = 0;
  }
  setTimeout(openForm, 10000);
</script>
