<section class="signup">
  <form id="signup-bottom" action="//www.karllhughes.com/subscribe" method="POST">
    <h3>The Agency Valuation Handbook</h3>

    <p>
      Want to know how buyers evaluate digital service businesses?
    </p>
    <img src="/assets/img/agency-cover-sm.png" class="image-right" />

    <p>
      If you've ever been curious about selling your agency, you need this handbook. It will show you what buyers look for so you can maximize your business’ valuation when you sell. You’ll learn:
      <ul>
        <li>Common valuation methods that buyers use</li>
        <li>The top four factors that influence your agency's valuation</li>
        <li>The most common deal components</li>
        <li>Three things every business owner should do before they consider selling</li>
      </ul>
    </p>
    <p>
      The book is <strong>free for subscribers</strong>, so enter your email to download today.
    </p>

    <div class="action clearfix">
      <div class="email-group">
        <label class="sr-only">Email Address</label>
        <input placeholder="Your email address" type="email" name="email" required />
      </div>
      <div class="submit-group">
        <input type="submit" value="Download Now!" name="subscribe" class="button">
      </div>
    </div>
    <p class="hug" id="signup-bottom-status"></p>
  </form>
</section>
