<section class="signup top">
  <form id="signup-top" action="//www.karllhughes.com/subscribe" method="POST">
    Get new posts like this in your inbox <strong>every week</strong>.
    <div class="action clearfix">
      <div class="email-group">
        <label class="sr-only">Email Address</label>
        <input placeholder="Your email address" type="email" name="email" required />
      </div>
      <div class="submit-group">
        <input type="submit" value="Sign Me Up" name="subscribe" class="button">
      </div>
    </div>
    <p class="hug" id="signup-top-status"></p>
  </form>
</section>
