<section class="signup">
  <form id="signup-bottom" action="//www.karllhughes.com/subscribe" method="POST">
    <h3>Are you thinking about starting your own business?</h3>

    <img src="/assets/img/startup-cover-sm.png" class="image-right" />

    <p>
      After a decade in software startups and starting and buying two companies, I wrote this book to help founders learn everything they need to know.
      In it, you'll learn about:
    </p>
    <ul>
      <li>Coming up with an idea</li>
      <li>Validating with real customers</li>
      <li>Building an MVP</li>
      <li>Raising funding</li>
      <li>And more</li>
    </ul>
    <p>
      The book is <strong>free for subscribers</strong>, so enter your email to download today.
    </p>

    <div class="action clearfix">
      <div class="email-group">
        <label class="sr-only">Email Address</label>
        <input placeholder="Your email address" type="email" name="email" required />
      </div>
      <div class="submit-group">
        <input type="submit" value="Download Now!" name="subscribe" class="button">
      </div>
    </div>
    <p class="hug" id="signup-bottom-status"></p>
  </form>
</section>
