<div class="signup-hover form-popup" id="popup_email_form">
  <form action="https://sideprojectchecklist.us15.list-manage.com/subscribe/post?u=4eba8b205fc13380cd3e6f3fc&amp;id=cc13b917ec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="form-container">
    <i class="fa fa-close close-form" onclick="closeForm()"></i>
    <h3>Ready for More Posts Like This?</h3>

    <label for="email" class="sr-only">Email Address</label>
    <input id="email" type="text" placeholder="Your email address" name="EMAIL" required>
    <input type="hidden"
           name="FORM_LOC"
           value="klh_signup_form">
    <button type="submit" class="btn">Subscribe Today!</button>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4eba8b205fc13380cd3e6f3fc_cc13b917ec" tabindex="-1" value=""></div>
  </form>
</div>
<script>
  function openForm() {
    document.getElementById("popup_email_form").style.opacity = 1;
  }
  function closeForm() {
    document.getElementById("popup_email_form").style.opacity = 0;
  }
  setTimeout(openForm, 10000);
</script>
