<p>In 2017, I decided to start applying to speak at technoloyg and programming conferences. I started by practicing some talks at meetups and local bootcamps, and slowly started getting accepted to give talks at conferences around the country.</p>
<p>While I don't do a ton of it, I will probably continue to try to give 2-5 conference talks per year going forward. Here are some of the talks I've given recently as well as some that I'm currently working on or planning to give.</p>

<h3>Planning</h3>
<ul>
  <li>Building Your First PHP Application in Docker</li>
  <li>Mocking & Docking: Advanced Testing Strategies with Docker</li>
  <li>Explore vs. Exploit: When to Lean on Trusted Tech and When to Seek Something New</li>
</ul>

<h3>Delivered</h3>
<ul>
  <li>
    Testing Layers in Distributed Systems
    <br/>
    University of Illinois Webcon, Champaign, IL, 2018
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=11g2Eg6kgM0">True Tales of Building Microservices [video]</a>
    <br/>
    The Lead Developer, Austin, TX, 2018
  </li>
  <li>
    <a href="/posts/testing-layers-codemash-2018">Testing Layers in Distributed Systems</a>
    <br/>
    Codemash, Sandusky, OH, 2018
  </li>
  <li>
    <a href="/posts/api-strat-2017-presentation">Testing Layers in Distributed Systems [video]</a>
    <br/>
    API Strat & Practice, Portland, OR, 2017
  </li>
</ul>
<p>If you're running a conference or meetup and would like to explore having me come give a talk, let me know <a href="mailto:khughes.me@gmail.com">via email</a> or <a href="https://twitter.com/karllhughes">Twitter</a></p>
