---
layout: default
---
<header>
  <section class="title">
    <div class="header-image">
      <a href="{{site.baseurl}}/"><img
        src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}"
        alt="{{site.author}}"
        style="height: 100px; width: 100px;"
      ></a>
    </div>
    <div class="header-title">
      <h1 class="author-name"><a href="{{site.baseurl}}/">{{site.author}}</a></h1>
      <nav>
        Buying and Scaling Digital Service Businesses
      </nav>
    </div>
  </section>

  <section class="contact">
    <ul>
      <li><a href="{{site.baseurl}}/" title="Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" title="My Linkedin profile" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li class="youtube"><a href="https://www.youtube.com/@{{site.social-youtube}}" title="My YouTube channel" target="_blank"><i class="fa fa-youtube"></i></a></li>
      <li class="podcast"><a href="https://retainedtrust.com/" title="My podcast"><i class="fa fa-podcast"></i></a></li>
      <li class="email"><a href="https://karllhughes.curated.co/" title="Subscribe to my newsletter"><i class="fa fa-envelope-o"></i></a></li>
    </ul>
  </section> <!-- End Section Contact -->
</header> <!-- End Header -->
<section>
  {{ content }}
</section>
<footer>
  <div>
    <p class="muted">
      As an Amazon Associate and Share-a-Sale affiliate I earn from qualifying purchases made through 
      some of the links on this site. This revenue helps offset my newsletter and hosting costs.
    </p>
    <p>
      <a href="/entrepreneurship">Entrepreneurship</a> |
      <a href="/leadership">Leadership</a> |
      <a href="/growth">Growth</a> |
      <a href="/tools">Tools</a> |
      <a href="/books">Books</a> |
      <a href="/work/">Portfolio</a> |
      <a href="/media/">Media</a> |
      <a href="/privacy/">Privacy & Terms</a> &nbsp;
      <a href="/feed.xml" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a>
    </p>
      <form action="https://www.google.com/search" method="get" target="_blank">
          <!-- Add other parameters for Google search -->
          <input type="hidden" name="sitesearch" value="www.karllhughes.com">
          <input type="text" name="q" placeholder="Search site...">
          <input type="submit" value="Search">
      </form>
    <p>
      {{site.time | date: '%Y'}} &copy; {{site.author}}
    </p>
  </div>
</footer> <!-- End Footer -->
