---
layout: default
---
<header>
  <div class="about">
    <div class="header-image">
      <a href="{{site.baseurl}}/"><img
        src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
    </div>
    <div class="header-title">
      <h1 class="author-name"><a href="{{site.baseurl}}/">{{site.author}}</a></h1>
      <h2>{{ site.description }}</h2>
    </div>
  </div>

  <section class="contact">
    <ul>
      <li><a href="{{site.baseurl}}/" title="Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      {% if site.social-twitter %}
      <li><a href="https://twitter.com/{{ site.social-twitter }}" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.social-facebook %}
      <li><a href="https://facebook.com/{{ site.social-facebook }}" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.social-github %}
      <li class="github"><a href="http://github.com/{{site.social-github}}" title="Github" target="_blank"><i class="fa fa-github"></i></a></li>
      {% endif %}
      {% if site.social-linkedin %}
      <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% endif %}
      {% if site.social-email %}
      <li class="email"><a href="mailto:{{site.social-email}}" title="Email"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}
    </ul>
  </section> <!-- End Section Contact -->
</header> <!-- End Header -->
<section>
  {{ content }}
</section>
<footer>
  <div class="copyright">
    <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
  </div>
</footer> <!-- End Footer -->
