---
layout: main
---
<article class="post">
  <div class="post-content single-post">
    <h1 class="page-title">{{page.title}}</h1>
    <p class="post-meta">
      {{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;
      {% capture words %}{{ page.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}
    </p>
    {% if page.img %}
    <div class="page-cover-image">
      <img class="page-image" src="{{page.img}}" alt="{{page.title}}" style="width: 100%; aspect-ratio: 16 / 9;">
    </div> <!-- End Page Cover Image -->
    {% endif %}

    {% include signup-top.html category=page.categories %}

    <!-- Google Ads -->
    <!--    {% if content contains "&lt;!&ndash; ad-banner &ndash;&gt;" %}-->
    <!--    {% assign content = content | replace:"&lt;!&ndash; ad-banner &ndash;&gt;","<script async src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script>&lt;!&ndash; banner-1 &ndash;&gt;<ins class='adsbygoogle'     style='display:block'     data-ad-client='ca-pub-2322554200861137'     data-ad-slot='1085267601'     data-ad-format='auto'     data-full-width-responsive='true'></ins><script>  (adsbygoogle = window.adsbygoogle || []).push({});</script>" %}-->
    <!--    {% endif %}-->

    <!-- Draft Ad -->
    {% if content contains "<!-- ad-banner -->" %}
    {% assign content_chunks = content | split:"<!-- ad-banner -->" %}
      {% for chunk in content_chunks %}
        {% if forloop.index == 2 %}
          {% include draft-ad.html link=page.id %}
        {% endif %}
        {{ chunk | markdownify }}
      {% endfor %}
    {% else %}
      {{ content | markdownify }}
    {% endif %}

    {% if page.link %}
      <p class="read-more"><a href="{{ page.link }}" target="_blank" class="text-center">Read More...</a></p>
    {% endif %}

    {% if page.categories.size > 0 %}
    <div class="page-tags">
      <p>Read more like this in
      {% for category in page.categories %}
        <a href="{{site.baseurl}}/{{ category | slugify }}" class="tag">{{ category }}</a>{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
      </p>
    </div>
    {% endif %}

    {% unless page.link %}
      {% include signup.html %}
    {% endunless %}
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
{% include signup-hover.html %}
