---
layout: main
---
<article class="post">
  <div class="post-content single-post">
    {% if page.img %}
    <div class="page-cover-image">
      <img class="page-image" src="{{page.img}}" alt="{{page.title}}">
    </div> <!-- End Page Cover Image -->
    {% endif %}
    <h1 class="page-title">{{page.title}}</h1>
    <p class="post-meta">
      {{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;
      {% capture words %}{{ page.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}
    </p>

    {{ content | markdownify }}

    {% if page.link %}
      <p class="read-more"><a href="{{ page.link }}" target="_blank" class="text-center">Read More...</a></p>
    {% endif %}

    {% if page.categories.size > 0 %}
    <div class="page-tags">
      <p>Read more like this in
      {% for category in page.categories %}
        <a href="{{site.baseurl}}/{{ category | slugify }}" class="tag">{{ category }}</a>{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
      </p>
    </div>
    {% endif %}

    {% unless page.link %}
      {% include signup.html %}
    {% endunless %}
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
{% include signup-hover.html %}
