.post {
  .single-post {
    a {
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }
  }
  .page-cover-image {
    margin: 1rem -40px 0;
  }
  h1.page-title {
    margin-top: 1rem;
    font-size: 2.828rem;
    line-height: 3rem;
  }
  .post-meta {
    color: $gray;
    margin-top: .5rem;
  }
  .post-summary {
    margin-top: .2rem;
  }
  h4, h5 {
    font-size: 1rem;
  }
  h5 {
    color: $gray;
  }
}
