.signup {
  background-color: $light-accent;
  margin: 20px -40px;
  padding: 40px 40px;

  &.top {
    margin: 0 -40px;
    padding: 20px 40px 15px;

    .action {
      margin-top: 1rem;
    }
  }

  h3 {
    margin-top: 0;
  }

  .action {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;

    input {
      margin: 0 0 0.5em 0;
      border: 0;
      padding: 10px 20px;
      line-height: 1.5rem;
      color: $dark-gray;
    }

    .email-group {
      float: left;
      margin-right: 1rem;
    }

    .submit-group {
      float: left;

      input[type=submit] {
        background-color: $green;
        color: $white;
        cursor: pointer;
      }
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $gray;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $gray;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $gray;
    }
  }
}

.signup-hover {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
  opacity:0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

  h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  /* Add styles to the form container */
  .form-container {
    width: 100%;
    padding: 20px 40px;
    background-color: $light-accent;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
  }

  /* Full-width input fields */
  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
  }

  /* Set a style for the submit button */
  .form-container .btn {
    background-color: $green;
    color: $white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
  }

  .close-form {
    cursor: pointer;
    color: $gray;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}